<!DOCTYPE html>

<html lang="en">



<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Dear Diary</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />

         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  

</head>



<body>
<!-- As a link -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="">Diary</a>
</nav> 

<section>
    <div class='container'>
        <h3><a href="add/"> Add Entry</a> </h3>
        <br> <br> 
        <div class='row'>
            {% for entry in entries %}
            <div class='col-12 col-lg-10 col-md-10 col-sm-10'>
                <div class='jumbotron'>
                    <h4 style=color:brown>
                     {{ entry.post_date }}
                    </h4>
                     <p>
                        {{ entry.text }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>






</section>













</body>

</html>





